{% extends 'base.html' %}
{% load static %}

{% comment %}
# Set the Title for the page
{% endcomment %}
{% block head_title %}
  Welcome Users
{% endblock %}

{% comment %}
# Set the CSS file and Other for the page
{% endcomment %}
{% block extra_head %}
{% endblock %}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}
{% block content %}
  <h2>USERS page</h2>
{% endblock %}

{% comment %}
# Append JS files here for the page
{% endcomment %}
{% block extra_body %}
{% endblock %}
