{% extends "base.html" %}
{% load static %}


{% comment %} 
# Set the Title for the page 
{% endcomment %}
{% block head_title %}
About Me
{% endblock head_title %}

{% comment %} 
# Set the CSS file and Other for the page 
{% endcomment %}
{% block extra_head %}
{% endblock extra_head %}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}
{% block content %}
This is about me page
{% endblock content %}

{% comment %}
# Append JS files here for the page
{% endcomment %}
{% block extra_body %}
{% endblock extra_body %}

