{% extends "base.html" %}
{% load static %}


{% comment %} 
# Set the Title for the page 
{% endcomment %}
{% block head_title %}
    What da FaQ?
{% endblock head_title %}

{% comment %} 
Overrides the Default VALUES. Carefull!
{% endcomment %}
{% block extra_head %}
{% endblock extra_head %}

{% comment %}
# Set the CSS file and Other for the base page
{% endcomment %}
{% block extra_css %}
{% endblock extra_css %}

{% comment %}
# Appends the content in the BODY tag
{% endcomment %}
{% block content %}
    FaQ Page
{% endblock content %}

{% comment %}
# Append JS files here for the page
{% endcomment %}
{% block extra_body %}
{% endblock extra_body %}
